.grid {
    margin: 1rem auto 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.personaje {
    border: 3px solid black;
    padding: 5px;
}

.personaje img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.vivo {
    border-color: lightgreen;
}

.muerto {
    border-color: tomato;
}

.botones > button:last-child {
    margin-left: 1rem;
}